@import "../../../globals";

.userInfo {
  grid-area: u;
  background: white;
  @extend %web-block;
  padding: 15px 15px 0;
  position: relative;
  width: 100%;

  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 250px;
    border-radius: 15px;
    color: black;
    text-align: center;
    z-index: 0;

    div {

    }
  }
  &__about{
    display: flex;
    align-items: center;
  }
  &__info {
    display: flex;
    padding: 0 30px;
    align-items: center;
    z-index: 1;
    position: relative;
    top: -25px;
    justify-content: space-between;
  }

  &__ava {
    background: white;
    min-width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 7px solid white
  }

  &__title {
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    color: black;
  }

  &__subtitle {
    font-size: 12px;
  }

  &__buttons {
    display: flex;
    margin-left: 15%;
    align-items: center;
    justify-content: space-between;
    button {
      height: 45px;
      margin-left: 10px;
    }
  }

}
.buttons{
  width: 30%;
  &__friendAdd{
    color: white;
    min-width: 110px;
    background: #10d876;
    padding: 15px;
    border-radius: 0.3rem;
    font-weight: 700;
    font-family: Montserrat, sans-serif;
    font-size: 10px;
  }
  &__chat, &__other{
    min-width: 45px;
    height: 45px;
    border-radius: 0.3rem;
    padding: 3px;
  }
  &__other{
    padding-top: 8px;
  }
}

