.stories{
  display: flex;

  margin-left: 24px;
  min-height: 200px;
  width: 10030px;


}
.body{
  width: 100%;
  overflow-x: scroll;

  /* ie 10+ */
  -ms-overflow-style: none;

  /* фф (свойство больше не работает, других способов тоже нет)*/
  scrollbar-width: none;
}