@import '../../../globals';

.myPosts {
  grid-area: p;
  &__textarea{
    position: relative;
    margin-top: 16px;
    div{
      position: absolute;
      margin: 8px;
      img{
        width: 30px;
        height: 30px;
      }
    }
    textarea{
      width: 100%;
      border: 2px solid #F1F1F1;
      padding: 8px 8px 8px 48px;
      height: 100px;
      font-size: 15px;
      line-height: 21px;
      color: #adb5bd;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      border-bottom-left-radius: 15px;

    }
  }
  &__add {
    @extend %web-block;
    margin: 0 0 0 24px;
    button {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      color: #adb5bd;
      font-size: 15px;
      background: white;
      img{
        padding: 6px;
        width: 35px;
        height: 35px;
        background: #F5F5F5;
        border-radius: 50%;
        margin-right: 5px;
      }

    }
  }
  .error{
    border-color: lightcoral;
  }
  .errorMessage{
    color:red;
    font-size: 12px;
    padding-left: 15px;
    display: block;
    font-weight: 700;
  }
  .addPost{
    width: 150px;
  }
  &__posts {
  }
}
