@import './src/globals';
.users{
  @extend %web-block;
  width: 100%;
  min-height: 150px;
  display: flex;
  &__img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin-bottom: 15px;
  }
  &__name{
    margin: 4px 0 8px;
    font-family: Montserrat, sans-serif;
    font-size: 19px;
    color: black;

  }
  &__location{
    margin: 10px 0 8px;
    font-family: Montserrat, sans-serif;
    font-size: 17px;
  }
  &__status{
    margin: 55px 0 8px 15px;
    font-family: Montserrat, sans-serif;
    font-size: 17px;
  }
  &__first{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .add-friend{
      color: white;
      min-width: 110px;
      background: #10d876;
      padding: 15px;
      border-radius: 0.3rem;
      font-weight: 700;
      font-family: Montserrat, sans-serif;
      font-size: 10px
    }
    .remove-friend{
      color: white;
      min-width: 110px;
      background: firebrick;
      padding: 15px;
      border-radius: 0.3rem;
      font-weight: 700;
      font-family: Montserrat, sans-serif;
      font-size: 10px
    }
  }
}