.textarea {
  position: relative;
  margin-top: 16px;

  img {
    position: absolute;
    margin: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  textarea {
    width: 100%;
    border: 2px solid #F1F1F1;
    padding: 8px 8px 8px 48px;
    height: 100px;
    font-size: 15px;
    line-height: 21px;
    color: #adb5bd;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
  }
}


.errorMessage {
  color: red;
  font-size: 12px;
  padding-left: 15px;
  display: block;
  font-weight: 700;
}