@import "../../globals";
.wrapper{
  grid-area: n;
  padding: 0 15px;
  position: fixed;
  top: 60px;
  width: 15%;

}
.nav {
  font-family: "Open Sans",sans-serif;
  margin: 8px 0;
  padding: 16px 0 16px;
  background: white;
  min-width: 200px;
  border-radius: 15px;
  height: 70%;
  box-shadow: 0 8px 30px rgba(0,0,0,.05);

    span{
      margin-left: 5px;
      color: #adb5bd;

    }
  &__button {
    display: flex;
    align-items: center;
    padding: 12px 15px;
    height: 54px;
    width: 100%;
    font-size: 19px;
    @extend %button-style;
    color: black;
    &:hover{
      color: #1e74fd;
      span{color: #1e74fd}
    }
  }
  &__img{
    width: 45px;
    height: 45px;
  }

}
.active {
  color: #1e74fd;
    span{color: #1e74fd}
}

